<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Krasnov_Gallery>
            <version>1.0.0</version>
        </Krasnov_Gallery>
    </modules>
    <global>
        <helpers>
            <gallery>
                <class>Krasnov_Gallery_Helper</class>
            </gallery>
        </helpers>
        <models>
            <gallery>
                <class>Krasnov_Gallery_Model</class>
                <resourceModel>gallery_resource</resourceModel>
            </gallery>
            <gallery_resource>
                <class>Krasnov_Gallery_Model_Resource</class>
                <entities>
                    <view>
                        <table>gallery_view</table>
                    </view>
                </entities>
            </gallery_resource>
        </models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>Krasnov_Gallery</module>
                </setup>
            </gallery_setup>
        </resources>
        <blocks>
            <gallery>
                <class>Krasnov_Gallery_Block</class>
            </gallery>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <gallery before="Mage_Adminhtml">Krasnov_Gallery_Adminhtml</gallery>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <gallery>
                    <file>krasnov/gallery.xml</file>
                </gallery>
            </updates>
        </layout>
        <translate>
            <modules>
                <gallery>
                    <files>
                        <default>Krasnov_Gallery.csv</default>
                    </files>
                </gallery>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <gallery>
                    <files>
                        <default>Krasnov_Gallery.csv</default>
                    </files>
                </gallery>
            </modules>
        </translate>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>Krasnov_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
        <layout>
            <updates>
                <gallery>
                    <file>krasnov/gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </frontend>
</config>
